body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    padding: 30px;
}

.gallery {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-item {
    width: 300px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}

.gallery-item img {
    width: 100%;
    display: block;
    transition: transform .3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}
